<div id="wrapper">
    <nav id="header-nav" class="navbar navbar-default navbar-static-top" role="navigation">
        <span compile="::appController.header">
            <div class="navbar-header">
                <a href="#" ng-click="appController.displayHome()" class="navbar-brand">{{ ::appController.applicationName }}</a>
            </div>
            <ul class="nav navbar-top-links navbar-right hidden-xs">
                <li uib-dropdown ng-controller="profileController">
                    <a uib-dropdown-toggle href="#" aria-expanded="true">
                        <i class="fa fa-user fa-lg"></i> {{ username }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" role="menu">
                        <li><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> {{'LOGOUT' | translate}}</a></li>
                    </ul>
                </li>
            </ul>
        </span>
    </nav>
    <div id="page-wrapper">
        <div ui-view></div>
    </div>
    <div id="loader"></div>
</div>
